body{
  background-color:white; /*#306d85*:blue*/
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family:'Open sans',sans-serif;
}
hr{
  height:none;
  border-width:8px;
  border-style: dotted none none none;
  border-color: #EAF6F6;
  width: 5%;
}
h1{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: 'Sacramento', cursive;
  font-size: 400%;
  color: #66BFBF;
  line-height:2;
}
h2{
  margin:0px;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight:bold;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  margin:0px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #40514E;
}
.link-p{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #EAF6F6;
  padding-top: 30px;
}
a{
  color: #EAF6F6;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 30px;
}
a:hover{
  color: #EAF6F6;
}
.footer-link{
  color: #11999E;
  display: inline-block;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.top-container{
  background-color: #EAF6F6; /*#caf7e3;#65d6ce:lightBlue*/
  padding-top:50px;
}
.middle-container{
  /*background-color: #f5e6ca;*/
  padding-top: 60px;
  padding-bottom: 60px;
}
.profile{
  width: 50%;
  margin: auto;
}
.bottom-container{
  /*background-color:#ffed99;*/
  padding-top: 60px;
  padding-bottom: 60px;
}
.links{
  background-color: #66BFBF;
  padding-top: 60px;
  padding-bottom:30px;
}
.skill-1{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 100px;
}
.skill-2{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-container{
  padding-top: 60px;
  padding-bottom: 80px;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  width:150px;
  height:70px;
  position: relative;
  left:350px;
  top:20px;
}
.bottom-cloud{
  width:150px;
  height:70px;
  position: absolute;
  left:250px;
}
.Mountain{
  height:318px;
  width:624px;
  top:100px;
}
.img-profile{
  padding-bottom: 30px;
  width:240px;
  height:240px;
}
.img-eng{
  height: 180px;
  width: 180px;
  float: left;
  margin-right: 30px;
}
.img-camera{
  height: 180px;
  width: 180px;
  float: right;
  margin-left: 30px;
}
button{
  margin-top: 60px;
  padding: 10px;
  background-color: #66BFBF;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0 #000000;
}
