.red{
  background-color:red;
  height:100px;
  width:100px;
  position:relative;
  display: inline-block;
}
.blue{
  background-color:blue;
  height:100px;
  width:100px;
  postion:relative;
  display: inline-block;
}
.yellow{
  background-color:yellow;
  height:100px;
  width:100px;
  postion:relative;
  display: inline-block;
  left:100px;
}
