<div class="footer">
  <footer class="my-4"> <!--p:padding m:margin y:top bottom x:left right -->
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About us</a></li>
    </ul>
    <p class="text-center text-muted">© 2021</p>
  </footer>
</div>

</body>
</html>
